/* Estilos Generales */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(225, 251, 255);
}

header {
  background-color: #33368a;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hero {
  height: 40vh;
  width: 100%;
  background-image: url(../img/uvsolar.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 60px;
}

.hero-content {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 35px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: grey;
}

main {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

main img {
  width: 600px;
  height: auto;
  object-fit: fill;
}

.content {
  flex: 3;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  font-size: 20px;
}

.content h2 {
  text-align: center;
  font-size: 50px;
}

.content h3 {
  text-align: justify;
  font-size: 40px;
}

/* Footer */
footer {
  background-color: #33368a;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

footer .social a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

footer .subscription input,
footer .subscription button {
  padding: 10px;
  margin: 5px;
  border: none;
}

footer .subscription button {
  background-color: #ff4b4b;
  color: white;
  cursor: pointer;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    display: none;
    background-color: #33368a;
  }

  .menu-icon {
    display: block;
  }

  main {
    flex-direction: column;
  }
}

/*Efectos Hover*/
a {
  color: rgb(255, 255, 255); /* Color inicial de los enlaces */
  text-decoration: none; /* Sin subrayado por defecto */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

a:hover {
  color: red; /* Color al pasar el mouse sobre el enlace */
}

.social a {
  color: rgb(255, 255, 255); /* Color inicial de los enlaces */
  text-decoration: none; /* Sin subrayado por defecto */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.social a:hover {
  color: red; /* Color al pasar el mouse sobre el enlace */
}

.menu-icon {
  color: rgb(255, 255, 255); /* Color inicial de los enlaces */
  text-decoration: none; /* Sin subrayado por defecto */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.menu-icon:hover {
  color: red; /* Color al pasar el mouse sobre el enlace */
}
